# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Calculate the total number of schools
totalSchools = school_data["school_name"].count()
totalSchools

15

In [3]:
# Calculate the total number of students
totalStudents = school_data["size"].sum()
totalStudents

39170

In [4]:
# Calculate the total budget
totalBudget = '${:,.2f}'.format(school_data["budget"].sum())
totalBudget

'$24,649,428.00'

In [5]:
# Calculate the average math score
avgMathScore = student_data["math_score"].mean()
avgMathScore

78.98537145774827

In [6]:
# Calculate the average raeding score
avgReadingScore = student_data["reading_score"].mean()
avgReadingScore

81.87784018381414

In [7]:
# Calculate the percentage of students with a passing math score (70 or greater)
pectPassingMath = student_data[student_data["math_score"] >= 70]["Student ID"].count()/totalStudents*100
pectPassingMath

74.9808526933878

In [8]:
# Calculate the percentage of students with a passing reading score (70 or greater)
pectPassingReading = student_data[student_data["reading_score"] >= 70]["Student ID"].count()/totalStudents*100
pectPassingReading

85.80546336482001

In [9]:
# Calculate the overall passing rate
overallPassing = (pectPassingMath + pectPassingReading)/2
overallPassing

80.39315802910392

In [10]:
# Create a dataframe to hold the above results
district_data = pd.DataFrame([{"Total Schools": totalSchools,
                               "Total Students": totalStudents,
                               "Total Budget": totalBudget,
                               "Average Math Score": avgMathScore,
                               "Average Reading Score": avgReadingScore,
                               "% Passing Math": pectPassingMath,
                               "% Passing Reading": pectPassingReading,
                               "% Overall Passing Rate": overallPassing 
                              }])
# Customer column order
district_data = district_data[["Total Schools", "Total Students", "Total Budget",
                               "Average Math Score", "Average Reading Score",
                               "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]
district_data

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [11]:
# Group the merge data by school name
grouped_school = school_data_complete.groupby("school_name")

In [12]:
# Create a list of school type by shcoll name
school_types = school_data.set_index("school_name")["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [13]:
# Create a list of total budget by school name
school_budges = school_data.set_index("school_name")["budget"]
school_budges

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [14]:
# Create a list of total students by school name
school_students = school_data.set_index("school_name")["size"]
school_students

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [15]:
# Create a list of budget per student by school name
per_student_budgets = school_budges/school_students
per_student_budgets

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [16]:
# Create a list of average math score by school name
avg_math_score = grouped_school["math_score"].mean()
avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [17]:
# Create a list of average raeding score by school name
avg_reading_score = grouped_school["reading_score"].mean()
avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [18]:
# Create a list of percentage passing score for math by school name
pect_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()/grouped_school["Student ID"].count()*100
pect_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [19]:
# Create a list of percentage passing score for reading by school name
pect_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()/grouped_school["Student ID"].count()*100
pect_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [20]:
# Create a list of overall passing rate by school name
overall_passing_rate = (pect_passing_math + pect_passing_reading)/2
overall_passing_rate

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
Name: Student ID, dtype: float64

In [21]:
# Create a school summary dataframe to hold the above results
school_summary = pd.DataFrame({"School Type": school_types,
                              "Total Students": school_students,
                              "Total School Budget": school_budges,
                              "Per Student Budget": per_student_budgets,
                              "Average Math Score": avg_math_score,
                              "Average Reading Score": avg_reading_score,
                              "% Passing Math": pect_passing_math,
                              "% Passing Reading": pect_passing_reading,
                              "% Overall Passing Rate": overall_passing_rate})
# Format the Total School Budget and Per Student Budget columns
school_summary["Total School Budget"] = school_summary["Total School Budget"].map('${:,.2f}'.format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map('${:,.2f}'.format)
# Sort the school summary dataframe by overall passing rate descending.
school_summary.sort_values(["% Overall Passing Rate"], ascending=False, inplace=True)
# Display the five high-performing schools
school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [22]:
# Sort the school summary dataframe by overall passing rate ascending.
school_summary.sort_values(["% Overall Passing Rate"], ascending=True, inplace=True)
# Display the five worst-performing schools
school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [23]:
# Create the dataframe based on the grade level
grade9 = school_data_complete.loc[school_data_complete["grade"] == "9th", :]
grade10 = school_data_complete.loc[school_data_complete["grade"] == "10th", :]
grade11 = school_data_complete.loc[school_data_complete["grade"] == "11th", :]
grade12 = school_data_complete.loc[school_data_complete["grade"] == "12th", :]

In [24]:
# Calculate the average math score based on the grade level
grade9_avg_math_score = grade9.groupby("school_name")["math_score"].mean()
grade10_avg_math_score = grade10.groupby("school_name")["math_score"].mean()
grade11_avg_math_score = grade11.groupby("school_name")["math_score"].mean()
grade12_avg_math_score = grade12.groupby("school_name")["math_score"].mean()

In [25]:
# Create a dataframe to holde all the grades' average math scores
avg_math_score_by_grade = pd.DataFrame({"9th": grade9_avg_math_score,
                                       "10th": grade10_avg_math_score,
                                       "11th": grade11_avg_math_score,
                                       "12th": grade12_avg_math_score})
avg_math_score_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [26]:
# Calculate the average reading score based on the grade level
grade9_avg_reading_score = grade9.groupby("school_name")["reading_score"].mean()
grade10_avg_reading_score = grade10.groupby("school_name")["reading_score"].mean()
grade11_avg_reading_score = grade11.groupby("school_name")["reading_score"].mean()
grade12_avg_reading_score = grade12.groupby("school_name")["reading_score"].mean()

In [27]:
# Create a dataframe to holde all the grades' average reading scores
avg_reading_score_by_grade = pd.DataFrame({"9th": grade9_avg_reading_score,
                                       "10th": grade10_avg_reading_score,
                                       "11th": grade11_avg_reading_score,
                                       "12th": grade12_avg_reading_score})
avg_reading_score_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [28]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [29]:
# Create the dataframe group by range of spending 
school_data_complete["Spending Ranges (Per Student)"] = pd.cut(school_data_complete["budget"]/school_data_complete["size"],
                               bins=spending_bins, labels=group_names)
group_by_spending = school_data_complete.groupby("Spending Ranges (Per Student)")

In [30]:
# Calculate all the values by range of spending
by_spending_avg_math = group_by_spending["math_score"].mean()
by_spending_avg_reading = group_by_spending["reading_score"].mean()
by_spending_pect_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("Spending Ranges (Per Student)")["Student ID"].count()/group_by_spending["Student ID"].count()*100
by_spending_pect_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("Spending Ranges (Per Student)")["Student ID"].count()/group_by_spending["Student ID"].count()*100
by_spending_overall_passing = (by_spending_pect_passing_math + by_spending_pect_passing_reading)/2

In [31]:
# Create a dataframe to hold all the values
by_school_spending = pd.DataFrame({"Average Math Score": by_spending_avg_math,
                                  "Average Reading Score": by_spending_avg_reading,
                                  "% Passing Math": by_spending_pect_passing_math,
                                  "% Passing Reading": by_spending_pect_passing_reading,
                                  "% Overall Passing Rate": by_spending_overall_passing})
by_school_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.363065,83.964039,93.702889,96.686558,95.194724
$585-615,83.529196,83.838414,94.124128,95.886889,95.005509
$615-645,78.061635,81.434088,71.400428,83.614770,77.507599
$645-675,77.049297,81.005604,66.230813,81.109397,73.670105

## Scores by School Size

* Perform the same operations as above, based on school size.

In [32]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [33]:
# Create a dataframe group by school size 
school_data_complete["School Size"] = pd.cut(school_data_complete["size"],
                               bins=size_bins, labels=group_names)
group_by_size = school_data_complete.groupby("School Size")

In [34]:
# Calculate all the values group by school size
by_size_avg_math = group_by_size["math_score"].mean()
by_size_avg_reading = group_by_size["reading_score"].mean()
by_size_pect_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("School Size")["Student ID"].count()/group_by_size["Student ID"].count()*100
by_size_pect_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("School Size")["Student ID"].count()/group_by_size["Student ID"].count()*100
by_size_overall_passing = (by_size_pect_passing_math + by_size_pect_passing_reading)/2

In [35]:
# Create a dataframe to hold all the vaules by school size
by_school_size = pd.DataFrame({"Average Math Score": by_size_avg_math,
                                "Average Reading Score": by_size_avg_reading,
                                "% Passing Math": by_size_pect_passing_math,
                                "% Passing Reading": by_size_pect_passing_reading,
                                "% Overall Passing Rate": by_size_overall_passing})
by_school_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.828654,83.974082,93.952484,96.040317,94.996400
Medium (1000-2000),83.372682,83.867989,93.616522,96.773058,95.194790
Large (2000-5000),77.477597,81.198674,68.652380,82.125158,75.388769

## Scores by School Type

* Perform the same operations as above, based on school type.

In [36]:
group_by_type = school_data_complete.groupby("type")

In [37]:
# Calculate the values group by shcool type
by_type_avg_math = group_by_type["math_score"].mean()
by_type_avg_reading = group_by_type["reading_score"].mean()
by_type_pect_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("type")["Student ID"].count()/group_by_type["Student ID"].count()*100
by_type_pect_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("type")["Student ID"].count()/group_by_type["Student ID"].count()*100
by_type_overall_passing = (by_type_pect_passing_math + by_type_pect_passing_reading)/2

In [38]:
# Create a dataframe to holdall the values by school type
by_school_type = pd.DataFrame({"Average Math Score": by_type_avg_math,
                                "Average Reading Score": by_type_avg_reading,
                                "% Passing Math": by_type_pect_passing_math,
                                "% Passing Reading": by_type_pect_passing_reading,
                                "% Overall Passing Rate": by_type_overall_passing})
by_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,95.173856
District,76.987026,80.962485,66.518387,80.905249,73.711818